Gtk4DotNet/bin
Gtk4DotNet/obj
C-Code/first
C-Code/listview
Tests/HelloWorld/bin
Tests/HelloWorld/obj
Tests/PackButtons/bin
Tests/PackButtons/obj
Tests/Builder/bin
Tests/Builder/obj
Tests/Bindings/bin
Tests/Bindings/obj
Tests/Progress/bin
Tests/Progress/obj
Tests/ProgressSubclass/bin
Tests/ProgressSubclass/obj
Tests/Actions/bin
Tests/Actions/obj
Tests/Icons/bin
Tests/Icons/obj
Tests/HelloWebView/bin
Tests/HelloWebView/obj
Tests/WebViewFromTemplate/bin
Tests/WebViewFromTemplate/obj
Tests/Dialog/bin
Tests/Dialog/obj
Tests/Dialog/bin
Tests/FileCopy/bin
Tests/FileCopy/obj
Tests/ListBox/bin
Tests/ListBox/obj
Tests/Volumes/bin
Tests/Volumes/obj
Tests/WebViewFromResource/bin
Tests/WebViewFromResource/obj
Tests/ExampleApp/bin
Tests/ExampleApp/obj
Tests/ListView/bin
Tests/ListView/obj
Tests/ToDoList/bin
Tests/ToDoList/obj
Tests/WithStyle/bin
Tests/WithStyle/obj
Tests/AdwToDoList/bin
Tests/AdwToDoList/obj
Tests/MultipleWindows/bin
Tests/MultipleWindows/obj
Tests/ColumnView/bin
Tests/ColumnView/obj
Tests/ColumnViewExtended/bin
Tests/ColumnViewExtended/obj
Tests/Video/bin
Tests/Video/obj
