.fake
.ionide
Gtk4DotNet/bin
Gtk4DotNet/obj
resources/resources.gresource
resources/listview.glade~
Test/bin
Test/obj
Test/bin/Debug/net6.0/Gtk4DotNet.dll
Test/TestDirectory/linqasync.dll
Test/resources/resources.gresource
