
.fake
.ionide
Gtk4DotNet/bin
Gtk4DotNet/obj
resources/resources.gresource
resources/listview.glade~
Tutorial/bin
Tutorial/obj
TutorialFs/bin
TutorialFs/obj
ExampleApplication1/bin
ExampleApplication1/obj
ExampleApplication2/bin
ExampleApplication2/obj
ExampleApplication3/bin
ExampleApplication3/obj
ExampleApplication4/bin
ExampleApplication4/obj
ExampleApplication5/bin
ExampleApplication5/obj
ExampleApplication6/bin
ExampleApplication6/obj
ExampleApplication7/bin
ExampleApplication7/obj
Threading/bin
Threading/obj
Threading/resources/resources.gresource
Css/obj
Css/bin
Css/resources/resources.gresource
ListView/obj
ListView/bin
ListView/resources/resources.gresource
ColumnView/obj
ColumnView/bin
ColumnView/resources/resources.gresource
1-First/bin
1-First/obj
2-HelloWorld/bin
2-HelloWorld/obj
3-PackingButtons/bin
3-PackingButtons/obj
4-Drawing/bin
4-Drawing/obj
5-Builder/bin
5-Builder/obj
5-Builder/resources/resources.gresource
FileSystem/bin
FileSystem/obj
FileSystem/resources/resources.gresource
CleanupTest/bin
CleanupTest/obj
EventControllerKey/bin
EventControllerKey/obj
SelectionFiltering/bin
SelectionFiltering/obj
SelectionFiltering/resources/resources.gresource
Tester/bin
Tester/obj
6-WebView/obj
6-WebView/bin
WebWindowLinuxTester/bin
WebWindowLinuxTester/obj
WebTester/bin
WebTester/obj
7-NonGtkApp/bin
7-NonGtkApp/obj

