button {
    color: darkblue;
    background-color: lightblue;
}

button.warning {
    color: white;
    background-color: red;
}

button:hover {
    color: darkblue;
    background-color: rgb(220, 236, 241);
}

.yellow {
    color: Blue;
    background-color: yellow;
}