columnview listview row cell  {
/*	background-color: red;	
    color: white;	*/
    padding-top:    2px;
	padding-bottom: 2px;
}
/*columnview listview row:hover cell  {
	background-color: #ff9999;	
    color: yellow;	
}*/
image {
    min-height: 18px;
}